{
    "HOST" : "localhost", // Add the location you will be hosting the application from
    "PORT_REST" : 4001, // Add your port to receive requests here
    "SCRAPERS" : [
        {
            "slug" : "duckduckgo",
            "label" : "DuckDuckGo"
        },
        ...
    ]
}